/* AFFECT ALL PAGES */

html {
    background-color: #FFFFFF; /* White */
}

/* Remove margins on all the page. */
* {
    margin: 0px;
    padding: 0px;
}

/* List of custom fonts. */
@font-face {
    font-family: "WebFont";
    src: url("fonts/fontawesome-webfont.woff") format("truetype");
}
@font-face {
    font-family: "BlackFont40";
    src: url("fonts/nitti-black-v40.woff") format("truetype");
}
@font-face {
    font-family: "MediumFont40";
    src: url("fonts/nitti-medium-v40.woff") format("truetype");
}
@font-face {
    font-family: "NormalFont40";
    src: url("fonts/nitti-normal-v40.woff") format("truetype");
}
@font-face {
    font-family: "BlackFont20";
    src: url("fonts/nittigrotesk-black-v20.woff") format("truetype");
}
@font-face {
    font-family: "BoldFont20";
    src: url("fonts/nittigrotesk-bold-v20.woff") format("truetype");
}
@font-face {
    font-family: "NormalFont20";
    src: url("fonts/nittigrotesk-normal-v20.woff") format("truetype");
}
@font-face {
    font-family: "SemilightFont";
    src: url("fonts/nittigrotesk-semilight-v20.woff") format("truetype");
}

/* Add a light-blue in the navigation bar background. */
ul.navigation {
    list-style-type: none; /* No bullets or numbers in the list. */
    width: 100%;
    overflow: hidden;
    background-color: #DEEDF3; /* Light-blue */
}

/* Float the list items side by side to the right. */
ul.navigation li {
    float: right;
}

/* Style the links inside the list items. */
ul.navigation li a {
    display: inline-block;
    color: #08507C; /* Dark Blue */
    text-align: center;
    padding: 12px 24px;
    text-decoration: none;
    transition: 0.3s;
    font-family: "SemilightFont"; /* This is a custom font. */
    font-size: 18px;
    border-bottom-style: solid;
    border-bottom-color: #E5E6E3; /* Bone white in all the bottom. */
    border-bottom-width: 1px;
}

/* Change background color (light-blue to white) and text color (dark blue to orange) on hover. */
ul.navigation li a:hover {
    background-color: #FFFFFF; /* White */
    color: #F68833; /* Orange */
    border-bottom-style: solid;
    border-bottom-color: #FEC150; /* Bottom line change from bone white to yellow. */
    border-bottom-width: 1px;
}

h1 {
	text-align: center;
	font-size: 50px;
	font-family: "NormalFont40"; 
    color: #FEC150; /* Yellow */
}

h2 {
	text-align: center;
	font-size: 35px;
	font-family: "NormalFont40"; 
    color: #F68833; /* Orange */
}

h3 {
	text-align: center;
	font-size: 30px;
	font-family: "WebFont"; 
    color: #08507c; /* Dark Blue */
}

h4 {
    text-align: center;
    font-size: 20px;
    font-family: "SemilightFont"; 
    color: #0F9CDA; /* Baby Blue */
}

h5 {
    text-align: left;
    font-size: 22px;
    font-family: "SemilightFont"; 
    color: #F68833; /* Orange */
    padding: 0px 0px 0px 20px; /* Padding the left. */
}

h6 {
    text-align: center;
    font-size: 30px;
    font-family: "NormalFont40"; 
    color: #FEC150; /* Yellow */
}

p {
    display: block;
    padding: 20px 20px 20px 20px; /* Padding all the paragraph. */
    font-size: 20px;
    font-family: "NormalFont20";
}

/* Color for all hyperlinks. */

/* Unvisited link. */
a:link {
    font-size: 20px;
    font-family: "NormalFont20";
    color: #0F9CDA; /* Baby Blue */
    text-decoration: none; /* No underline */
}

/* Visited link. */
a:visited {
    color: #0F9CDA; /* Baby Blue */
    text-decoration: none;
}

/* Mouse over link. */
a:hover {
    color: #F68833; /* Orange */
    text-decoration: none;
}

img.animation {
    opacity: 0.85;
    filter: alpha(opacity=85);
  }
  
img.animation:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    transition: 0.9s;
}

ul.links {
    list-style-type: none; 
    padding: 0px 0px 0px 20px; /* Padding the left side. */
}

#header {
    float: center;
    padding: 20px 0px 20px 0px; /* Padding the top. */
    background-color: #08507c; /* Very Dark Blue */
    text-align: center;
    color: #E5E6E3; /* Bone White */
}

/* INDEX */

#youtubevideo {
    clear: both;
    float: left;
    padding: 20px 0px 20px 0px;
    width: 66.666%;
    height: 410px;
    overflow: hidden; /* Because height is 500px, specify overflow is necessary. */
    background-color: #E5E6E3; /* Bone White */
    text-align: center; /* Align horizonal the video. */
}

#main {
	float: left;
    padding: 20px 0px 20px 0px;
    width: 33.333%;
    height: 410px; /* Align with YouTube video. */
    overflow: hidden;
    background-color: #E5E6E3; /* Bone White */
    text-align: justify;
    color: #434343; /* Brown */
}

#sources {
    clear: both;
    float: center;
    padding: 20px 0px 0px 0px; /* Just padding the top. */
    background-color: #FFFFFF; /* White */
}

/* About HTML */
#left {
    clear: both;
    float: left;
    padding: 20px 0px 20px 0px;
    width: 33.333%;
    text-align: justify;
    color: #434343; /* Brown */
}

/* About CSS */
#center {
    float: left;
    padding: 20px 0px 20px 0px;
    width: 33.333%;
    text-align: justify;
    color: #434343; /* Brown */
}

/* About JavaScript */
#right {
    float: left;
    padding: 20px 0px 20px 0px;
    width: 33.333%;
    text-align: justify;
    color: #434343; /* Brown */
}

/* Book Image */
#belowleft {
    clear: both;
    float: left;
    padding: 0px 0px 0px 0px;
    width: 30%;
    height: 400px;
    overflow: hidden;
    background-color: #DEEDF3; /* Light Blue */
    text-align: left;
}

/* About Git and GitHub */
#belowright {
    float: right;
    padding: 20px 0px 0px 0px;
    width: 70%;
    height: 380px;
    overflow: hidden;
    background-color: #DEEDF3; /* Light Blue */
    text-align: justify;
    color: #434343; /* Brown */
}

#footer {
    clear: both;
    float: center;
    padding: 20px 0px 0px 0px;
    background-color: #08507c; /* Dark blue */
    text-align: center;
    color: #E5E6E3; /* Bone White */
}

/* STATEMENTS */

img {
    max-width: 100%;
    height: auto;
}

#mission {
    float: center;
    padding: 50px 50px 0px 50px;
    text-align: center;
    color: #434343; /* Brown */
}

#vision {
    float: center;
    padding: 0px 50px 0px 50px;
    text-align: center;
    color: #434343; /* Brown */
}

#aboutme {
    float: center;
    padding: 0px 50px 50px 50px;
    text-align: center;
    color: #434343; /* Brown */
 }
